.about-us {
  height: 687px;
  background: #E5E5E5;
  &__border {
    position: relative;
    margin-top: 651px;
    margin-right: 45%;
    margin-left: 45%;
    width: 200px;
  }
  &__string {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1E1F24;
    border: 1px solid #FFC126;
    background: #FFC126;
    padding: 8px 0 8px 0;
  }
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    color: #1E1F24;
    padding-top: 20px;
  }
  &__experience{
    display: inline;
  }
  &__years {
  }
  &__clients {
    padding: 312px;
  }
}