.drupal-info {
  height: 1240px;
  &__first-block {
    position: relative;
    display: inline;
  }
  &__left-screen {
    float: left;
    padding-top: 189px;
    z-index: 1;
  }
  &__left-screen2 {
    float: left;
    padding-top: 110px;
    margin-left: -160px;
    z-index: 2;
    opacity: .99;
  }
  &__slogan-string {
    padding-left: 958px;
    padding-top: 214px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 64px;
    font-size: 48px;
    opacity: .99;
  }
  &__background-of-string {
    float: right;
    padding-left: 50px;
    width: 46%;
    height: 46%;
    z-index: 1;
  }
  &__cite-string {
    padding-left: 958px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 29px;
    font-size: 16px;
    letter-spacing: 0.15em;
  }
  &__second-block {
    position: relative;
    display: inline;
  }
  &__table-strings {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 59px;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #1E1F24;
  }
  &__list-slogan {
    padding-left: 319px;
    padding-top: 262px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    line-height: 64px;
    font-size: 48px;
  }
  &__list-strings{
    padding-left: 319px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: 59px;
    font-size: 16px;
    letter-spacing: 0.15em;
    color: #1E1F24;
    .li {
      list-style-image: url(images/list-symbol2.png);
    }
  }
}