html {
  background: $page-background;
  width: $page-width;
  font-size: $base-font-size;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0; // reset user agent styles
}

.marked-header {
  background-color: $orange-color;
}