.header {

  &__black-line {
    background: black;
    height: 40px;
  }
  &__white-line {
    background: #FFFFFF;
    height: 100px;
    top: 40px;
  }
  &__logo {
    margin-left: 160px;
    margin-top: 28px;
    margin-bottom: 27px;
    float: left;
  }
  &__left-menu {
    margin-right: 160px;
    margin-top: 39px;
    margin-bottom: 39px;
    float: right;
  }
  &__about {
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 72px;
    font-family: Montserrat;
  }
  &__services {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 73px;
  }
  &__portfolio {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
  }
}
