.header {

  &__black-line {
    background: black;
    height: 40px;
  }
  &__white-line {
    background: #FFFFFF;
    height: 100px;
    top: 40px;
  }
  &__logo {
    margin-left: 160px;
    margin-top: 28px;
    margin-bottom: 27px;
    float: left;
  }
  &__left-menu {
    margin-right: 160px;
    margin-top: 39px;
    margin-bottom: 39px;
    float: right;
  }
}
