.header {
  text-align: center;
  margin-top: 28px;

  &__top-line {
    background: black;
    height: 40px;
  }

  &__bottom-line {
    background: #FFFFFF;
    height: 100px;
    top: 40px;
  }

  &__logo {
    margin-left: 160px;
    margin-top: 28px;
    margin-bottom: 27px;
    float: left;
  }

  &__menu {
    margin-right: 160px;
    margin-top: 39px;
    margin-bottom: 39px;
    float: right;
  }

  &__about {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 72px;
    color: #1E1F24;
  }

  &__services {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 73px;
    color: #1E1F24;
  }

  &__portfolio {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #1E1F24;
  }
}
