.portfolio {

  &__our-work {
    display: inline-block;
    position: relative;
    background: #1E1F24;

    &__main-header {
      margin-top: 60px;
      text-align: center;
    }

    &__left-pointer {
      float: left;
      margin: 320px 0 0 135px;
    }

    &__right-pointer {
      float: right;
      margin: 320px 135px 0 0;
    }

    &__header {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 56px;
      text-align: center;
      color: #FFFFFF;
    }

    &__slider {
      width: 1280px;
      height: 651px;
      margin: 0 321px 60px 319px;
      background: #FFFFFF;
      box-shadow: 0 10px 100px rgba(0, 0, 0, 0.25);

      &__slide {

        &__slide-image {
          display: inline;
        }

        &__work {
          float: right;
        }
      }
    }

  }
}