.portfolio {

  &__our-work {
    display: inline-block;
    position: relative;
    background: #1E1F24;
    text-align: center;
    padding: 60px 135px 0 135px;

    &__work__description {
      width: 50%;
      text-align: left;
      float: right;
      padding: 60px 0 0 0;
    }

    &__work__product-image {
      background-image: url("../images/portfolio,our-work/camera.png");
      background-repeat: no-repeat, no-repeat;
      background-position: center;
      z-index: 1;
      width: 50%;
      float: left;
    }

    &__work__product-image__left-black-side {
      mix-blend-mode: normal;
      z-index: 2;
      opacity: 0.80;
      float: left;
    }

    //&__main-header {
    //  margin-top: 60px;
    //  text-align: center;
    //}

    &__left-pointer {
      float: left;
      margin: 320px 0 0 0;
    }

    &__right-pointer {
      float: right;
      margin: 320px 0 0 0;
    }

    &__header {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 56px;
      text-align: center;
      color: #FFFFFF;
    }

    &__slider {
      width: 1280px;
      height: 651px;
      margin: 0 186px 60px 174px;
      background: #FFFFFF;
      box-shadow: 0 10px 100px rgba(0, 0, 0, 0.25);

    }

    &__work__title {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 56px;
      margin: 0;
    }

    &__work__property-name {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 24px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }

    &__work__property-value {
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-size: 16px;
      letter-spacing: 0.15em;
      margin-top: -30px;
      margin-bottom: 55px;
    }
  }

  &__why-we {
    padding: 73px 149px 115px 150px;

    &__header {
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 48px;
      text-align: center;
      margin-bottom: 75px;
    }

    &__advantages {
      display: inline;
      text-align: center;
    }

    &__advantage__text {
      font-style: normal;
      font-weight: normal;
      line-height: 39px;
      font-size: 16px;
      text-align: center;
      letter-spacing: 0.15em;
      width: 320px;
      height: 44px;
    }

    &__advantage__image {
      margin-bottom: 41.37px;
    }

    &__focus {
      display: inline-block;
      margin-top: 3px;
    }

    &__technologies {
      display: inline-block;
      margin-top: 1px;
    }

    &__approach {
      display: inline-block;
    }

    &__components {
      display: inline-block;
      margin-top: 3px;
    }

    &__contributors {
      display: inline-block;
      margin-top: 4px;
    }
  }

  &__contact-us {
    padding: 60px 479px 0 481px;
    background: #202020;

    &__text {
      font-style: normal;
      font-weight: normal;
      line-height: 29px;
      font-size: 16px;
      text-align: center;
      color: #FFFFFF;
      opacity: 0.3;
      padding-bottom: 36px;
    }
  }

  &__contact-form {

    &__text-input {
      padding: 23px 281px 23px 281px;
      margin-bottom: 29px;
    }

    &__submit-button {
      padding: 23px 27px 23px 27px;
      background: #11AD7F;
    }
  }
}