.top-container {
  height: 760px;
  text-align: center;
  background: #FCC127;
  padding-top: 110px;

  .main-logo{
    margin-bottom: 15px;
  }

  .landing-title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 110px;
    color: #1E1F24;
    margin: 0 0 5px 0;
  }

  .short-description {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #1E1F24;
    margin-bottom: 55px;
  }

  .button {
    margin-bottom: 34px;
  }
}