.landing-title {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 6.875em;
  color: #1E1F24;
  margin-top: 20px;
}

.landing-description {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 1.125em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1E1F24;
}

.short-description {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #1E1F24;
}



.main-image {
  margin-top: 60px;
}