// colors
$page-background: #E5E5E5;
$text-color: #1E1F24;
$orange-color: #FCC127;
$grey-background: #F5F5F5;
$slider-background: $text-color;
$green-color: #11AD7F;
$bottom-color: $green-color;

// sizes
$page-width: 1920px;

// buttons

